#ticket{
  text-align: left;
  font-size: 11px; 
  color: #101010; 
  font-weight: bold
}


#paciente{

	color: #3a5693; 
	font-weight: bold;    
	text-decoration: none;
	font-size: 10px;
	text-align: left
}

 